hr {
    margin-top: 2rem;
}

.listOfUsers {
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.listOfUsers li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.listOfUsers li div {
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
}

.listOfUsers li img {
    width: 100px;
    border-radius: 50%;
}

.user {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}
