.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

header {
    text-align: center;
    font-size: 1.5rem;
}

.userPNG {
    width: 100px;
    align-self: center;
}

.pText {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
